<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Angular/Ngrx Web App</h3>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h4>
            Counter example
        </h4>
        <h1>
            {{(counter$ | async)?.total}}
        </h1>
        <p class="lead">
            <button (click)="increment()" class="btn btn-primary mr-3">+1</button>
            <button (click)="decrement()" class="btn btn-primary">-1</button>
        </p>
        <p>
            <button (click)="reset()" class="btn btn-secondary btn-sm">Reset</button>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</div>
